[submodule "renovarte-catalogo"]
	path = renovarte-catalogo
	url = https://github.com/gucastillo-personal/renovarte-catalogo.git
[submodule "renovarte-pipeline"]
	path = renovarte-pipeline
	url = https://github.com/gucastillo-personal/renovarte-pipeline.git
[submodule "renovarte-events"]
	path = renovarte-events
	url = https://github.com/gucastillo-personal/renovarte-events.git
